@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Ephasis";
  src: url("/fonts/Ephesis.ttf");
  font-display: swap;
}

@theme {
  --font-ephasis: "Ephasis";
  --font-inter: "Inter";

  --color-night: #0a0908;
  --color-light-gray: #cacaca;
  --color-cornell-red: #bb0a1c;

  --breakpoint-*: initial;
  --breakpoint-mobile-s: 320px;
  --breakpoint-mobile-m: 325px;
  --breakpoint-mobile-l: 425px;
  --breakpoint-sm: 500px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-laptop-l: 1440px;
  --breakpoint-4k: 2560px;
}

.light {
  --background: white;
  --text: var(--color-night);

  background-color: var(--background);
  color: var(--text);
}

.dark {
  --background: var(--color-night);
  --text: white;

  background-color: var(--background);
  color: var(--text);
}

.error-bg {
  background: url("/error-background.gif") no-repeat center center/cover;
}

/* * {
  outline: 1px solid red;
} */
